<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'home' %}">My Receipts</a>
            </li>
            <li>
                <a href="{%url 'create_receipt' %}">Create Receipts</a>
            </li>
            <li>
                <a href="{% url 'category_list' %}">Categories</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">Create a Category</a>
            </li>
            <li>
                <a href="{% url 'account_list' %}">Accounts</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create an Account</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>
